*{
  margin: 0px;
  padding: 0px;
}


::-webkit-scrollbar { 
    display: none; 
}//::-webkit-scrollbar 


@font-face{
    font-family: p1;
    src: url(https://assets.pixlee.com/pixlee_fonts/pixlee_100.otf);
} // @font-face
@font-face{
    font-family: p3;
    src: url(https://assets.pixlee.com/pixlee_fonts/pixlee_300.otf);
} // @font-face
@font-face{
    font-family: p5;
    src: url(https://assets.pixlee.com/pixlee_fonts/pixlee_500.otf);
} // @font-face
@font-face{
    font-family: p7;
    src: url(https://assets.pixlee.com/pixlee_fonts/pixlee_700.otf);
} // @font-face
@font-face{
    font-family: icons;
    src: url(https://assets.pixlee.com/pixlee_fonts/pixlee_icons.otf);
} // @font-face

.p1{
    font-family: p1, sans-serif;
} // p1
.p3{
    font-family: p3, sans-serif;
} // p2
.p5{
    font-family: p5, sans-serif;
} // p3
.p7{
    font-family: p7, sans-serif;
} // p4

@font-face{
    font-family: icons;
    src: url(https://assets.pixlee.com/pixlee_fonts/pixlee_icons.otf);
} // @font-face

.icons{
    font-family:icons;
} // icons

.container{
    display: block;
    width: 100%;
    position: relative;
    li{
        list-style-type: none;
        background-repeat: no-repeat;
        background-position: center center;
        float: left;
        background-size: cover;
    }//li
    #leftWrapper{
        position: absolute;
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        overflow: auto;
        .picture_container{
            &:after{
                content: '';
                clear: both;
                display: block;
            }//&:after
            li{
                .overlay{
                    display: none;
                }//overlay
            }//li
        }//.picture_contaienr
    }//.small_wrapper_1
    .big_wrapper{
        position: absolute;
        display: block;
        left: 50%;
        transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        overflow: auto;
        z-index: 10;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

        .picture_container{
             &:after{
                content: '';
                clear: both;
                display: block;
            }//&:after
            li{
                position: relative;
                width: 400px; //customer should be able to set
                height: 400px; //customer should be able to set

                .overlay{
                    width: 100%;
                    margin: 10px 0;
                    position: absolute;
                    bottom: 0;
                    
                    // list of products ////////////////////////
                    li{
                        visibility: hidden;
                        opacity: 0;
                        position: relative;
                        background-size: contain;
                        height: 0;
                        width: 12%;
                        padding-bottom: 12%;
                        background-color: white;
                        border-radius: 3px;
                        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
                        transform-origin: bottom center;
                        -webkit-transform-origin: bottom center;
                        -moz-transform-origin: bottom center;
                        -o-transform-origin: bottom center;
                        transition: opacity 0.1s ease-in, transform 0.15s ease-in;
                        -webkit-transition: opacity 0.1s ease-in, transform 0.15s ease-in;
                        -moz-transition: opacity 0.1s ease-in, transform 0.15s ease-in;
                        -o-transition: opacity 0.1s ease-in, transform 0.15s ease-in;
                        &:hover{
                            -webkit-animation: jelly 300ms linear forwards;
                            /*transform: scale(2.5);
                            -webkit-transform: scale(2.5);
                            -moz-transform: scale(2.5);
                            -o-transform: scale(2.5);*/
                            z-index: 10;
                        }//&:hover

                        a{
                           display: block;
                           padding-bottom: 100%;
                        }//a

                        // 1 product ////////////////////////
                        &:nth-child(1):nth-last-child(1) {
                            margin: 0 44%;
                        }
                        
                        // 2 products ////////////////////////
                     
                        &:nth-child(1):nth-last-child(2){
                            margin-left: 36%;
                            margin-right:2%;
                        }
                        &:nth-child(2):nth-last-child(1){
                            margin-left: 2%;
                            margin-right:36%;
                        }
                        
                        // 3 products ////////////////////////

                        &:nth-child(1):nth-last-child(3){
                            margin-left: 27.5%;
                            margin-right: 2%;
                        }
                        &:nth-child(2):nth-last-child(2){
                            margin: 0 2%;
                        }
                        &:nth-child(3):nth-last-child(1){
                            margin-left: 2%;
                            margin-right: 27.5%
                        }

                        // 4 products ////////////////////////

                        &:nth-child(1):nth-last-child(4){
                            margin-left: 20%;
                            margin-right: 2%;
                        }
                        &:nth-child(2):nth-last-child(3),
                        &:nth-child(3):nth-last-child(2){
                            margin: 0 2%;
                        }
                        &:nth-child(4):nth-last-child(1){
                            margin-left: 2%;
                            margin-right: 20%;
                        }

                    }//li
                }//.overlay

        




                .attribution_container{
                    position: absolute;
                    width: 100%;
                    text-shadow: 0 0 1px black;
                    
                    .social_media_icon_container{
                        float: left;
                        .icons;
                        font-size: 20px;
                        margin: 10px;
                        color: white;
                    }//.social_media_icon_container
                    .instag{
                        &:after{
                            content: '\f16d';
                        }//&:after
                    }//.instag
                    .facebook{
                        &:after{
                            content: '\f09a';
                        }//&:after
                    }//.facebook
                    .twitter{
                        &:after{
                            content: '\f099';
                        }//&:after
                    }//.twitter
                    .vine{
                        &:after{
                            content: '\f1ca';
                        }//&:after
                    }//.vine
                    .uploader{
                        &:after{
                            content: '\f109';
                        }//&:after
                    }//.uploader
                    .email{
                        &:after{
                            content: '\f003';
                        }//&:after
                    }//.email
                    .api{
                        &:after{
                            content: '\f121';
                        }//&:after
                    }//.api
                    .user_handle_container{
                        float: left;
                        margin: 10px 0;
                        .p3;
                        color: white;
                    }//.user_handle_container
                }//.attribution_container
            }//li

            .active{
                .overlay{
                    li{
                        visibility: visible;
                        opacity: 1;   
                        &:nth-child(1){
                            transition-delay: .5s, 0s;
                            -webkit-transition-delay: .5s, 0s;
                            -moz-transition-delay: .5s, 0s;
                            -o-transition-delay: .5s, 0s;
                        }//&:nth-child(1)
                        &:nth-child(2){
                            transition-delay: .6s, 0s;
                            -webkit-transition-delay: .6s, 0s;
                            -moz-transition-delay: .6s, 0s;
                            -o-transition-delay: .6s, 0s;
                        }//&:nth-child(2)
                        &:nth-child(3){  
                            transition-delay: .7s, 0s;
                            -webkit-transition-delay: .7s, 0s;
                            -moz-transition-delay: .7s, 0s;
                            -o-transition-delay: .7s, 0s;
                        }//&:nth-child(3)
                        &:nth-child(4){
                            transition-delay: .8s, 0s;
                            -webkit-transition-delay: .8s, 0s;
                            -moz-transition-delay: .8s, 0s;
                            -o-transition-delay: .8s, 0s;
                        }//&:nth-child(4)
                    }//li
                }//.overlay
            }//.active
        }//.small_container
    }//.big_container
    #rightWrapper{
        position: absolute;
        margin-left: 50%;
        width: 50%;
        overflow: auto;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        top: 50%;
        .picture_container{
            &:after{
                content: '';
                clear: both;
                display: block;
            }//&:after
            li{
                .overlay{
                    display: none;
                }//overlay
            }//li
        }//.picture_container
    }//.small_wrapper_2
}//.container
#nav_container{
    width: 400px;
    margin: 0 auto;
    #arrow_container{
        width: 400px;
        margin: 10px auto;
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        #arrow_left{
            margin-left: 41%;
            width: 8%;
            padding-bottom: 8%;
            background: url('http://assets.pixlee.com/images/embed/fancybox/lb_prev.png?1421262545');
            background-size: contain;
            float: left;
            opacity: .3;
            cursor: pointer;
            transition: all 0.25s ease;
            &:hover{
                opacity: .6;
            }
        }//#arrow_left
        #arrow_right{
            margin-right: 41%;
            width: 8%;
            padding-bottom: 8%;
            background: url('http://assets.pixlee.com/images/embed/fancybox/lb_next.png?1421262545');
            background-size: contain;
            float: left;
            opacity: .3;
            cursor: pointer;
            transition: all 0.25s ease;
            &:hover{
                opacity: .6;
            }
        }//#arrow_right
    }//#arrow_container
    #scroll_bar_container{
        width: 100%;
        display: block;
        position: relative;
        box-shadow: 0 0 0 1px lightgray;
        height: 5px;
        margin: auto;
        border-radius: 3px;
        overflow: hidden;
        cursor: pointer;
        #scroll_bar{
            width: 10px;
            height: 5px;
            background-color: gray;
        }//#scroll_bar
    }//.scroll_bar_container
}//#nav_container


@media(max-width: 767px) {

}

@-webkit-keyframes jelly {
  0%{
    -webkit-transform:scale(1);
  }
  30%{
    -webkit-transform:scale(2.1);
  }
  60%{
    -webkit-transform:scale(1.9);
  }
  80%{
    -webkit-transform:scale(2.05);
  }
  100%{
    -webkit-transform:scale(2);
  }
}

